.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: olive;

    align-items: center;
}

.flex-item{
    margin: 10px;
    padding: 10px;
    background: lightblue;
}

@media screen and not (min-width: 400px){
    .flex-container{
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        background-color: lightblue;
        }

        .flex-item{
            margin: 20px;
            padding: 20px;
            background: magenta;
        }
}